<div class="m-3 form-group" data-action="change->live#update">

    {{ form_start(this.form) }}

        {{ form_row(this.form.username) }}

        <button
                class="btn btn-secondary mb-3"
                data-action-name="debounce(1000)"
                data-loading="addAttribute(disabled)"
        >{{ buttonLabel }}</button>

    {{ form_end(this.form) }}
</div>
