/.idea
/mysql/
/rabbitmq/data/
/rabbitmq/log/
/app/.env
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/public/data/images/*
/app/var/
/app/vendor/
